.form {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.titels {
  align-items: center;
  text-align: center;
}
